<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List of States</title>
  </head>
  <body>
    <ul>
    <% states.forEach(function(state){ %>
      <li><%= state.state %></li>
    <%}) %>
  </ul>
  </body>
</html>
